body {
    margin: 0;
    padding: 0;
}

.bg--dark {
    background-color: rgb(46, 33, 33);
}

.txt--dark {
    color: rgb(46, 33, 33);
}

.txt--white {
    color: white;
}

.centerXbetweenY {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centerXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.initLink {
    text-decoration: none;
    font-size: 1.8em;
}